*{
    margin: 0;
    padding: 0;
}
nav{
   width: 100vh;
   display: flex;
   align-items: center; 
   justify-content: space-between; 
   padding: 25px 0;
   margin-top: 40px;
}
nav>img:nth-child(1){
    height: 45px;
    margin-left: 75px;
}  
.nav-items{
    display: flex;
    margin-left: 240px; 
    /* align-items: center;  */
    gap:2px;
}
.nav-item{
    font-family: "Poppins";
    font-weight: 300;
    width: 100px;
    font-size: 1.3rem;
    margin: 0 20px;
}
.nav-item.active-item{
    font-weight: 900;
    color: #ff5e34;
    font-family: 'Poppins';
}
nav img:nth-child(3){
    width: 170px;
    height: 45px;
    object-fit: cover;
    margin-left: 120px;
}
.intro-section{
    display: flex;
}
.left-section>h3{
    font-family: "Poppins";
    font-weight: 300;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: 75px;
    margin-top: 50px;
}
.left-section>h3>img{
    margin-left: 16px;
    height: 45px;
}
.left-section>h1{
    font-family: "Comic Sans MS", sans-serif;
    font-weight: 800;
    letter-spacing: -3px;
    font-size: 4.2rem;
    margin-left: 75px;
}
.sub-headlines{
    margin-top: 35px;
    margin-left: 140px;
}
.sub-headline{
    display: flex;
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 500;
    gap: 23px;
    margin-bottom: 20px;
}
.sub-headline>img{
    padding: 8px;
    border-radius: 50%;
    height: 16px;
    background-color: #ff5e34;
}
.text{
    margin-left: 75px;
    color: #909090;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 200;
    margin-top: 40px;
}
.action-btns{
    padding-left: 40px;
}
.action-btn{
    background-color: #ff5e34;
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
    padding: 15px 30px;
    border-radius: 40px;
    margin-top: 30px;
    letter-spacing: .3px;
    margin-left: 23px;
}
.right-section{
    position: relative;
    width: 40vw;   
}
.headphone-div{
    position: relative;
} 
.discount{
    position: relative;
    right: 10px;
    /* left:-4%; */
    top: 212px;
    height: 111px;
    z-index: -2;
}
.discount-content{
    position: absolute; 
    left:10px;  
    /* right: 237px; */
    top: 239px;
    color: #ffffff;
}
.discount-content>h4{
    padding-left: 15px;
    font-size: 10px;
    font-family: "Poppins";
}
.discount-content>h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: relative;
    font-size: 2.2rem;
    left: 6%;
    bottom: 10px;
}
 .headphone-div>img:nth-child(3){
    z-index: -3;
    position: absolute;
    right: 150px;
    /* left:0; */
    height: 370px;
}
.dots{ 
    width: fit-content;
    display: flex;
    justify-content: center;
    top: 55%;
    align-items: center;
    position: absolute;
    bottom: 15%; 
    left: 25%;
} 
.dot{
    margin: 15px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ff5e34;
}
.yellow-dot{
    background-color: #fbd005;
}

.red-dot{
    background-color: #ff5e34;
}

.black-dot{
    background-color: #010001;
}
.right-section>button{
  bottom: 0%; 
  position: absolute;
  left: 20%;
}
